.review {
    height: 100px;
    width: 90%;
    border-left: 3px solid blue;
    background-color: lightgreen;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h3 {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h4 {
    color: darkred;
    font-family: fantasy;
}

.rdate {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    font-size: 12px;
}